
 
.Chat{
    height: 85vh;
    width: 60vw;
    justify-content: center;
    background-color: #0F0F0F;
    margin: 0;
    color: #FDF0F0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
  }

  .result {
    margin-top: 80px;
  }
  
  .messageContainer {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin: auto;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .inputField {
    width: 50%;
    padding: 12px;
    font-size: 16px;
    border: 3px solid #8CABFF;
    background-color: #282A3A;
    border-radius: 4px;
    outline: none;
    color: #FDF0F0;
    box-sizing: border-box;
  }
  
  .sendButton {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    color: #555;
    cursor: pointer;
    margin-left: 10px;
    outline: #0F0F0F;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 3px -3px 3px inset;
  }
  
  .sendButton:active {
    background-color: #e5e5e5;
  }
  
  .selectedMessage {
    background-color: black;
    color:white
  }
  .eyes{
    align-items: center;
    font-size: 12px;
    cursor: pointer;
  }
  .date{
    color:grey;
    font-size: 12px;;
  }
  
  .backButton {
    height: 40px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    color: #555;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 20px;
    outline: #0F0F0F;
    border-radius: 10px;
    box-shadow: rgb(253, 253, 253) 0px 2px 4px, rgb(255, 255, 255) 0px 7px 13px -3px, rgb(255, 255, 255) 0px 3px 0px;
  }
  
  .Contacts{
    background-color: #0F0F0F;
    margin: 0;
    color: #FDF0F0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width:100%;  
    margin: 0;
  }
  
  .searchInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    width: 100%;
    height: 10vh;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .searchInput button {
    margin-left: 15px;
  }
  
  .SearchResults {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
  }
  
  .SearchResults button {
    text-decoration: underline;
    cursor: hover;
  }

  .contacts {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    
  }

  .chats {
    padding-right: 10px;
    border-right: 2px solid #8CABFF;
    margin-top: 50px;
  }

  .contact {
    border-bottom: 3px solid rgba(3, 102, 214, 0.3);
    width: 280px;
    cursor: pointer;
    text-align: center;
  }

  .contact > p {
    font-size: x-small;
    font-weight: 500;
    color: #8CABFF;
  }

  .contact > h3 {
    font-size: medium;
    color: #DA0C81;
    margin-bottom: 0;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 10px;
    border: 2px solid rgba(240, 46, 170, 0.4);
    border-radius: 20px;
    box-shadow: rgba(46, 169, 240, 0.4) 5px 5px, rgba(46, 185, 240, 0.3) 10px 10px, rgba(46, 233, 240, 0.2) 15px 15px, rgba(46, 201, 240, 0.1) 20px 20px, rgba(46, 169, 240, 0.05) 25px 25px;
  }

  .box > p {
    margin: 10px;
  }

  .eventDetails {
    display: flex;
    flex-direction: column;
  }


  .eventDetails span, .box span {
    margin-right: 10px;
    color: hotpink;
  }

  .eventDetails p {
    margin-left: 20px;
  }

  .name {
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
  }

  .box .name {
    font-size: small;
    margin-top: 10px;

  }

  .event {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    margin-left: 65px;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #1B262C;
    border: 2px solid rgba(240, 46, 170, 0.4);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    border-radius: 20px;
  }

  .event img {
    width: 200px;
    object-fit: cover;
    border: 3px solid brown;
    border-radius: 100%;
  }

  .button {
    background: #8CABFF;
    color: #000000;
    padding: 10px;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(252, 252, 252, 0.877) 0px 2px 4px, rgba(201, 201, 201, 0.753) 10px 7px 13px -3px inset;
  }
  

  .btn{
    background: #8CABFF;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(252, 252, 252, 0.877) 0px 2px 4px inset;
  }

  .chat {
    position: fixed;
    top: 100px;
    left: 500px;
    padding-left: 20px;
  }

  .searchBtn {
    background: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }